.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# Exclude composer
composer.phar

# User Guide
/user_guide/

# Applications
applications/shared/config/database.php
applications/frontend/logs/*
!applications/frontend/logs/index.html
applications/frontend/sessions/*
!applications/frontend/sessions/index.html
applications/frontend/views_compiled/*
!applications/frontend/views_compiled/index.html
applications/admin/logs/*
!applications/admin/logs/index.html
applications/admin/sessions/*
!applications/admin/sessions/index.html
applications/admin/views_compiled/*
!applications/admin/views_compiled/index.html
assets/js/jquery-validation-*/
assets/js/*.zip
adminer-*.php

# Upload File
upload/file-proposal/*
!upload/file-proposal/index.html
upload/request-user/*
!upload/request-user/index.html

# Resource Project
/Resources/
