<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>Data Kewirausahaan Perguruan Tinggi</title>
		<style type="text/css">
			@page {
				margin-left: 2.5cm; 
				margin-top: 2cm;
				margin-right: 2cm;
				margin-bottom: 1cm;
			}
			* {
				font-family: sans;
			}
			h1, h3, h4 {
				text-align: center;
				margin-bottom: 5px;
			}
			td {
				font-size: 11pt;
			}
		</style>
	</head>
	<body>
		<div style="page-break-after: always">
			<h1 style="margin-top: 0; font-family: sans">Universitas Negeri Semarang</h1>
			<h4>Jl. Sekaran Raya, Gunungpati, Semarang, Jawa Tengah</h4>
			<h3 style="">WIRAUSAHA YANG DIDANAI RISTEKDIKTI</h3>
			<table style="width: 100%;" cellspacing="5">
				<tbody>
					<tr>
						<td style="width: 50%; padding: 5px; border: 0.7px solid black; vertical-align: top">
							<b>Bidang Bisnis</b><br/>
							Makanan dan Minuman<br/><br/>
							<b>Nama Produk</b><br/>
							D’CO (DONUTS & CHOCOLATE)<br/><br/>
							<b>Sumber Pendanaan</b><br/>
							KBMI
						</td>
						<td style="width: 50%; padding: 5px; border: 0.7px solid blue">
							<p style="text-align: center; margin-top: 0;"><b>Owner</b></p>
							<ol style="margin-left: 0; padding-left: 14px;">
								<li>Ayu Muria Pangisti<br/>
								7101415248<br/>
								Pendidikan Ekonomi <br/>
								ayumuriapangisti@gmail.com <br/>
								HP. 082225220712<br/>
								</li>
								<li>
								Arif Widodo<br/>
								3101415072<br/>
								Pendidikan Sejarah<br/>
								warif48@gmail.com<br/>
								085640712501
								</li>
								<li>
								Sofia Nur Khasanah <br/>
								2111416010<br/>
								Sastra Indonesia<br/>
								shofia.elmafhi@gmail.com<br/>
								085800424471
								</li>
							</ol>
						</td>
					</tr>
					<tr>
						<td colspan="2">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="2" style="padding: 5px; border: 0.5px solid orange">
							<p style="margin-top: 0;"><b>Gambaran Bisnis</b></p>
							<p style="line-height: 1.5em">D’CO merupakan Usaha Donat coklat dengan inovasi varian rasa dan kualitas yang terjamin. D’CO didirikan karena melihat peluang yang ada di sekitaran Kampus UNNES, bahwa mayoritas masyarakat UNNES menyukai Donat dan Coklat. Potensi Utama D’CO adalah karena masih belum adanya Kafe Donat dan Coklat yang ada di sekitaran Kampus UNNES. D’CO berusaha menjamin mutu dan kualitas produknya baik dari makanan dan minuman. Usaha ini sudah berjalan akan tetapi memiliki hambatan yang selama ini belum terselesaikan yaitu pendanaan. Program ini diharapkan dapat memberikan salah satu solusi D’CO selama ini. Alasan D’CO harus di danai karena sebenarnya D’CO Potensi untuk berkembang.</p>
						</td>
					</tr>
				</tbody>
			</table>

			<table style="width: 100%; page-break-before: always" cellspacing="5">
				<tbody>
					<tr>
						<td style="padding: 5px; border: 0.5px solid blue">
							<p style="margin-top: 0;"><b>Capaian Bisnis</b></p>
							<p style="line-height: 1.5em">Usaha D’CO didirikan pada tanggal 23 Maret 2016 oleh M. Hasri Sabila sebagai pengembang dan Angel Investor sebagai pemberi modal. Usaha ini telah berjalan kurang lebih 2 bulan dan sudah memiliki karyawan sebanyak 6 orang, dengan sistem part time dimana satu orang karyawan satu minggu bekerja selama 2-3 kali. Buka mulai pukul 16.00-23.00 WIB yang beralamat di Jalan Cempaka Sari Nomor 17, Sekaran, Gunung Pati.</p>
						</td>
					</tr>
					<tr>
						<td style="padding: 5px; border: 0.5px solid orange">
							<p style="margin-top: 0;"><b>Rencana Kedepan</b></p>
							<p style="line-height: 1.5em">Target pasar yang kami pilih yaitu daerah kampus UNNES terutama di sekitar Jalan sekaran yang banyak dilalui masyarakat, mahasiswa, tidak jauh dari lokasi perumahan warga serta terdapat beberapa ruko atau kios serta sekolah yang berpotensi menjadi pelanggan di cafe kami. Target utama konsumen ialah orang-orang sekitar dan Mahasiswa yang ada di UNNES khususnya yang berada dekat dengan lokasi cafe kami.</p>
						</td>
					</tr>
					<tr>
						<td style="padding: 5px; border: 0.5px solid orange">
							<p style="margin-top: 0;"><b>Prestasi Bisnis</b></p>
							<p style="line-height: 1.5em">Target pasar yang kami pilih yaitu daerah kampus UNNES terutama di sekitar Jalan sekaran yang banyak dilalui masyarakat, mahasiswa, tidak jauh dari lokasi perumahan warga serta terdapat beberapa ruko atau kios serta sekolah yang berpotensi menjadi pelanggan di cafe kami. Target utama konsumen ialah orang-orang sekitar dan Mahasiswa yang ada di UNNES khususnya yang berada dekat dengan lokasi cafe kami.</p>
						</td>
					</tr>
				</tbody>
			</table>

			<div style="page-break-before: always; margin-top: 2cm">
				<img src="../upload/buku-profil/001019/kbmi_2.jpg" alt="Foto Usaha" style="height: 11cm"/>
				<img src="../upload/buku-profil/001019/KBMI_17.jpg" alt="Foto Anggota Kelompok" style="height: 11cm"/>
			</div>
			
		</div>
		
		
	</body>
</html>

